#intro {
  width:100vw;
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(245, 245, 245); 
  text-align: center; 
};



  @keyframes move-background {
    from {
      -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to { 
      -webkit-transform: translate3d(1000px, 0px, 0px);
    }
  }
  @-webkit-keyframes move-background {
    from {
      -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to { 
      -webkit-transform: translate3d(1000px, 0px, 0px);
    }
  }
  
  @-moz-keyframes move-background {    
    from {
      -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to { 
      -webkit-transform: translate3d(1000px, 0px, 0px);
    }
  }
  
      @-webkit-keyframes move-background {
    from {
      -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to { 
      -webkit-transform: translate3d(1000px, 0px, 0px);
    }
  }
  
  .background-container{
    width:100%;
    height:100vh;
    position: fixed;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    display: flex;
  }

  #intro_text {
    /* border: 1px solid white; */
    z-index: 5;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    /* opacity: 1; */
    display: flex;
    align-items:center;
    justify-content: center;
    overflow: visible;
    transition: 0.7s;
  }

  #intro_text_logo {
    position: absolute;
    /* border: 1px solid red; */
    transform: rotate(-45deg);
    top: 0px;
    left: -50px;
    background-position: center;
    background-repeat: no-repeat;
    /* animation: vibration 1s infinite; */
    transition: 1s;
  }

  #intro_text_logo > img {
    width:120px;
  }

  @keyframes vibration {
    from {
      transform: rotate(-46deg);
    }
    to {
      transform: rotate(-60deg);
    }
  }

  #intro_text > p {
    font-family: 'Anton', sans-serif;
    text-align: center;
    font-size: 7rem;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #c9c9c9; 
    letter-spacing: 20px;
    padding-left: 20px;
  }
  
  .stars {
   background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   display: block;
   z-index: 0;
  }
  
  .twinkling{
    width:10000px;
    height: 100%;
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
    background-size:cover;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
      
    -moz-animation:move-background 30s linear infinite;
    -ms-animation:move-background 30s linear infinite;
    -o-animation:move-background 30s linear infinite;
    -webkit-animation:move-background 30s linear infinite;
    animation:move-background 30s linear infinite;
    
  }
  
  .clouds{
    width:99999px;
    /* height: 100%; */
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png");
    /* background-size: cover; */
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
  
    -moz-animation:move-background 50s linear infinite;
    -ms-animation:move-background 50s linear infinite;
    -o-animation:move-background 50s linear infinite;
    -webkit-animation:move-background 50s linear infinite;
    animation:move-background 50s linear infinite;
  }
  #moon{
    height:30vh;
    width:30vh;
    position: absolute;
    z-index: 6;
    right: 50px;
    top: 50px;
  }

  @media screen and (max-width:768px) {
    #intro_text > p {
      text-align: center;
      font-size: 2rem;
      font-weight: bold;
      color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #c9c9c9; 
      letter-spacing: 20px;
    }
 
    #intro_text_logo > img {
      display: none;
    }
  
    
  }

  @media screen and (max-width:360px) {
    #intro_text {
      /* width:300px; */
      /* height:200px; */
      /* border: 1px solid white; */
      z-index: 5;
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%, -50%);

    }
  
    
    
  }



