#profile {
  width:100%;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}


#profile > div {
  margin: 20px;
}

.picture_text {
  width:100%;
  /* height: 400px; */
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content:space-around;
  overflow-y: hidden;

}

.picture_text > div {
  height: 100%;
  /* border: 1px solid red; */
  margin: 20px;
  overflow-y: hidden;
  display: flex;
}

.picture_text > div:nth-child(1) {
  width:230px;
  height:230px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:100%;
  /* border: 5px solid rgb(228, 4, 228); */
  border: 5px solid transparent;
  background-image: linear-gradient(#fff, #fff), 
  linear-gradient(to right, rgb(0, 255, 242) 0%,  rgb(223, 21, 230) 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-position: center;
  background-repeat: no-repeat;
}

.picture_text >div:nth-child(1) > img {
  width:500px;
  overflow: visible;
  z-index: -1;
}

.picture_text > div:nth-child(2) {
  width:80%;
  height:100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

@font-face {
  font-family: 'LeferiPoint-BlackObliqueA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackObliqueA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BrushKing', sans-serif;
  src: url('https://fonts.cdnfonts.com/css/brush-king')
}


@font-face {
  font-family: 'Hey August', sans-serif;
  src: url('https://fonts.cdnfonts.com/css/hey-august');
                                                
}




.text {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  background: 
  linear-gradient(70deg, rgb(0, 0, 0), #585858);
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgb(0, 0, 0);
  flex-direction: column;

}

.text > div:nth-child(1) {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  /* letter-spacing: 20px; */
  padding: 20px 20px 0px;
  color: white;
  /* border: 1px solid red; */

}

.text > div:nth-child(1) > p {
  font-size: 30px;
  font-family: 'Hey August', sans-serif;
  color: rgb(228, 4, 228);
}

.text > div:nth-child(2) {
  display: flex;
  letter-spacing: 20px;
  padding: 20px 20px 0px;
  color: white;
  /* border: 1px solid red; */

}

.text > div:nth-child(2) > p {
  font-size: 6rem;
  font-family: 'Hey August', sans-serif;
  /* font-family: 'BrushKing', sans-serif; */
}





.skill_info {
  width:100%;
  height: 400px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-y: hidden;
  padding: 20px;
  z-index: -2;
  
}

.skill_info > div  {
  width:45%;
  height: 100%;
  margin: 10px;
  display: flex;
  align-items: center;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  overflow: visible;
  border-radius: 10px;
  background: 
  linear-gradient(70deg, rgb(0, 0, 0), #585858);
}

.skill {
  position: relative;
  box-shadow: 3px 3px 3px rgb(0, 0, 0);

}

.skill_1::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 50%;
  box-shadow: 0 0 17px 3px rgb(228, 4, 228),0 0 4px 2px  rgb(228, 4, 228);
  z-index: -1;
          animation-name: purple-shadow;
          animation-timing-function: ease;
          animation-duration: 3s;
          animation-iteration-count: infinite;
  border-radius: 5px;

}

.skill_1::after {
  content: '';
  position: absolute;
  right: 50;
  bottom: 50;
  width: 50%;
  height: 50%;
  box-shadow: 0 0 17px 3px #00ffff,0 0 4px 2px #00ffff;
  z-index:-9999;
          animation-name: cyan-shadow;
          animation-timing-function: ease;
          animation-duration: 3s;
          animation-iteration-count: infinite;
  border-radius: 5px;

}

.skill > div  {
  width:100%;
  height:50px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  padding: 20px;
  overflow-y: hidden;
  margin: 5px;

}


.skill > div > section:nth-child(1) {
  width:10px;
  height:10px;
  border-radius: 100%;
  background-color: #ffffff;
  box-shadow: 0px 0px 7px #ff00f2;
}

.skill > div > section:nth-child(2) {
  width:40px;
  height:40px;
  background-color:none;
  margin:0px 10px 0px;
  background-position: center;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:100%;
  overflow: visible;
}



.skill > div > div > p {
  font-weight: bold;
  color: #ebebeb;
  text-shadow: 1px 1px 2px rgb(0, 255, 234);
  font-size: 14px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  box-shadow: 3px 3px 3px rgb(0, 0, 0);
}

.info > div {
  width:100%;
  height:50px;
  /* border: 1px solid rgb(0, 0, 0); */
  display: flex;
  align-items: center;
  padding: 20px;
  overflow-y: hidden;
  margin: 5px;
}

.info > div > section {
  width:10px;
  height:10px;
  border-radius: 100%;
  background-color: #ffffff;
  box-shadow: 0px 0px 7px #00eeff;
}

.info > div > p {
  margin-left: 10px;
  color: #ebebeb;
  text-shadow: 1px 1px 2px rgb(224, 33, 208);
  font-weight: bold;
  font-size: 14px;

}

.info::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 50%;
  box-shadow: 0 0 17px 3px rgb(228, 4, 228),0 0 4px 2px rgb(228, 4, 228);
  z-index: -1;
          animation-name: purple-shadow;
          animation-timing-function: ease;
          animation-duration: 3s;
          animation-iteration-count: infinite;
  border-radius: 5px;
}

.info_1::after {
  content: '';
  position: absolute;
  right: 50;
  bottom: 50;
  width: 50%;
  height: 50%;
  box-shadow: 0 0 17px 3px  #00ffff,0 0 4px 2px  #00ffff;
  z-index: -1;
          animation-name: cyan-shadow;
          animation-timing-function: ease;
          animation-duration: 3s;
          animation-iteration-count: infinite;
  border-radius: 5px;
}



@-webkit-keyframes purple-shadow {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 50%;
    left: 0;
  }
  50% {
    top: 100%;
    left: 100%;
  }
  75% {
    top: 0;
    left: 50%;
  }
  100% {
    top: 10;
    left: 10;
  }
}

@keyframes purple-shadow {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 50%;
    left: 0;
  }
  50% {
    top: 50%;
    left: 50%;
  }
  75% {
    top: 0;
    left: 50%;
  }
  100% {
    top: 0;
    left: 0;
  }
}

@-webkit-keyframes cyan-shadow {
  0% {
    right: 0;
    bottom: 0;
  }
  25% {
    right: 0;
    bottom: 50%;
  }
  50% {
    right: 50%;
    bottom: 50%;
  }
  75% {
    right: 50%;
    bottom: 0;
  }
  100% {
    right: 0;
    bottom: 0;
  }
}

@keyframes cyan-shadow {
  0% {
    right: 0;
    bottom: 0;
  }
  25% {
    right: 0;
    bottom: 50%;
  }
  50% {
    right: 50%;
    bottom: 50%;
  }
  75% {
    right: 50%;
    bottom: 0;
  }
  100% {
    right: 0;
    bottom: 0;
  }
}


@media screen and (max-width:1200px) {
  
  .picture_text > div:nth-child(1) {
    width:220px;
    /* height:220px; */
    min-width: 220px;
    transition: 1s;

  }
}

@media screen and (max-width:1000px) {

  .picture_text > div:nth-child(1) {
    width:210px;
    height:210px;
    transition: 1s;
    min-width: 210px;

  }

  
}

@media screen and (max-width:880px) {
  .picture_text {
    width:100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }


  .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text div:nth-child(1) {
    position: absolute;
    transform: rotate(-25deg);
    opacity: 0.9;
  }

  .text div:nth-child(2) {
    text-align: center;
  }

  .skill > div > div > p {
    font-size: 11px;
  }

  .info > div > p {
    font-size: 11px;
  
  }
}
  

  @media screen and (max-width:768px) {
    .picture_text {
      width:100%;
      height: auto;
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .text {
      width:100%;
    }

    .text > div:nth-child(2) > p {
      font-size: 5rem;
      line-height: 100px;
    }
   
    .skill_info {
      width:100%;
      height: auto;
      justify-content: space-between;
      flex-direction: column;
    }

    .skill.skill_1 {
      width:95%;
    }
    
    .info.info_1 {
      width:95%;
    }

    }
  
    @media screen and (max-width:400px) {
      
     
      .text > div:nth-child(2) > p {
        font-size: 4.5rem;
        line-height: 100px;
      }
     
     
      }

