#profile {
  width:100%;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}


#profile > div {
  margin: 20px;
}

.picture_text {
  width:100%;
  height: 400px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content:space-around;
  overflow-y: hidden;

}

.picture_text > div {
  height: 100%;
  /* border: 1px solid red; */
  margin: 20px;
  overflow-y: hidden;
  display: flex;
}

.picture_text > div:nth-child(1) {
  width:250px;
  height:250px;
  background-color: red;
  border-radius:100% ;
  display: flex;
  align-items: center;
  justify-content: center;
}

.picture_text > div:nth-child(2) {
  width:80%;
  height:100%;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  padding: 20px;
}

@font-face {
  font-family: 'LeferiPoint-BlackObliqueA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackObliqueA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.text {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.text > div {
  margin: 10px;
}

.text > div:nth-child(1) {
  border: 5px rgb(131, 123, 123);
  border-style: double;
  border-right: none;
  border-left: none;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 20px;
  font-family: 'LeferiPoint-BlackObliqueA';
  padding: 20px 20px 0px;
  overflow-y: hidden;
  text-shadow: 1px 1px 5px rgb(238, 255, 0);
  color: white;

}

.text > div:nth-child(1) > p {
  font-size: 40px;
}

.text > div:nth-child(2) {
  width:90%;
  height:150px;
  /* border: 1px solid black; */
  /* padding: 30px; */
  overflow-y: hidden;
  font-size: 15px;
  line-height: 20px;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  justify-content:center;
  text-shadow: 1px 1px 4px rgb(255, 255, 255);

}

.text > div:nth-child(2) > p {
  font-size: 15px;
}

.text > div > section {
  width:40px;
  height:0.1px;
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  margin: 10px;
  box-shadow: 1px 1px 5px rgb(238, 255, 0);
}

.skill_info {
  width:100%;
  height: 400px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-y: hidden;
  padding: 20px;
  z-index: -2;
  
}

.skill_info > div  {
  width:45%;
  height: 100%;
  margin: 10px;
  background-color:#acaaaa;
  display: flex;
  align-items: center;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  overflow: visible;
  border-radius: 10px;
  background: 
  linear-gradient(70deg, rgb(0, 0, 0), #585858);
}

.skill {
  position: relative;
  box-shadow: 3px 3px 3px rgb(0, 0, 0);

}

.skill_1::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 50%;
  box-shadow: 0 0 17px 3px  #bfff00,0 0 4px 2px  #bfff00;
  z-index: -1;
          animation-name: yellow-shadow;
          animation-timing-function: ease;
          animation-duration: 2s;
          animation-iteration-count: infinite;
  border-radius: 5px;

}

.skill_1::after {
  content: '';
  position: absolute;
  right: 50;
  bottom: 50;
  width: 50%;
  height: 50%;
  box-shadow: 0 0 17px 3px #00ffff,0 0 4px 2px #00ffff;
  z-index:-9999;
          animation-name: cyan-shadow;
          animation-timing-function: ease;
          animation-duration: 2s;
          animation-iteration-count: infinite;
  border-radius: 5px;

}

.skill > div  {
  width:100%;
  height:50px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  padding: 20px;
  overflow-y: hidden;
  margin: 5px;

}


.skill > div > section:nth-child(1) {
  width:10px;
  height:10px;
  border-radius: 100%;
  background-color: #ffffff;
  box-shadow: 0px 0px 7px #00ff55;
}

.skill > div > section:nth-child(2) {
  width:40px;
  height:40px;
  background-color:none;
  margin:0px 10px 0px;
  background-position: center;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:100%;
  overflow: visible;
}



.skill > div > div > p {
  font-weight: bold;
  color: #ebebeb;
  text-shadow: 1px 1px 5px rgb(0, 255, 234);
  font-size: 14px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  box-shadow: 3px 3px 3px rgb(0, 0, 0);
}

.info > div {
  width:100%;
  height:50px;
  /* border: 1px solid rgb(0, 0, 0); */
  display: flex;
  align-items: center;
  padding: 20px;
  overflow-y: hidden;
  margin: 5px;
}

.info > div > section {
  width:10px;
  height:10px;
  border-radius: 100%;
  background-color: #ffffff;
  box-shadow: 0px 0px 7px #00ff55;
}

.info > div > p {
  margin-left: 10px;
  color: #ebebeb;
  text-shadow: 1px 1px 5px rgb(157, 255, 0);
  font-weight: bold;
  font-size: 14px;

}

.info::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 50%;
  box-shadow: 0 0 17px 3px #00ffff,0 0 4px 2px #00ffff;
  z-index: -1;
          animation-name: yellow-shadow;
          animation-timing-function: ease;
          animation-duration: 2s;
          animation-iteration-count: infinite;
  border-radius: 5px;
}

.info_1::after {
  content: '';
  position: absolute;
  right: 50;
  bottom: 50;
  width: 50%;
  height: 50%;
  box-shadow: 0 0 17px 3px  #bfff00,0 0 4px 2px  #bfff00;
  z-index: -1;
          animation-name: cyan-shadow;
          animation-timing-function: ease;
          animation-duration: 2s;
          animation-iteration-count: infinite;
  border-radius: 5px;
}



@-webkit-keyframes yellow-shadow {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 50%;
    left: 0;
  }
  50% {
    top: 100%;
    left: 100%;
  }
  75% {
    top: 0;
    left: 50%;
  }
  100% {
    top: 10;
    left: 10;
  }
}

@keyframes yellow-shadow {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 50%;
    left: 0;
  }
  50% {
    top: 50%;
    left: 50%;
  }
  75% {
    top: 0;
    left: 50%;
  }
  100% {
    top: 0;
    left: 0;
  }
}

@-webkit-keyframes cyan-shadow {
  0% {
    right: 0;
    bottom: 0;
  }
  25% {
    right: 0;
    bottom: 50%;
  }
  50% {
    right: 50%;
    bottom: 50%;
  }
  75% {
    right: 50%;
    bottom: 0;
  }
  100% {
    right: 0;
    bottom: 0;
  }
}

@keyframes cyan-shadow {
  0% {
    right: 0;
    bottom: 0;
  }
  25% {
    right: 0;
    bottom: 50%;
  }
  50% {
    right: 50%;
    bottom: 50%;
  }
  75% {
    right: 50%;
    bottom: 0;
  }
  100% {
    right: 0;
    bottom: 0;
  }
}


@media screen and (max-width:1200px) {
  .text > div:nth-child(1) {
    width:90%;
  }

  .text > div:nth-child(1) > p {
    font-size: 28px;
  }

  .text > div:nth-child(2) {
    width:90%;
  }

  .picture_text > div:nth-child(1) {
    width:240px;
    height:240px;
    transition: 1s;

  }
}

@media screen and (max-width:1000px) {

  .text > div:nth-child(1) > p {
    font-size: 19px;
    padding-bottom: 10px;

  }

  .text > div:nth-child(2) > p {
    font-size: 12px;
  }

  .picture_text > div:nth-child(1) {
    width:230px;
    height:230px;
    transition: 1s;
  }

  
}

@media screen and (max-width:880px) {
  .picture_text {
    width:100%;
    height: auto;
    border: 1px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .picture_text > div:nth-child(1) {
    width:230px;
    height:230px;
    transition: 1s;

  }

  .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .skill > div > div > p {
    font-size: 11px;
  }

  .info > div > p {
    font-size: 11px;
  
  }
}
  

  @media screen and (max-width:768px) {
    .picture_text {
      width:100%;
      height: auto;
      border: 1px solid black;
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .text > div:nth-child(2) {
      flex-direction: column;
      height: 200px;
    }

    .text > div:nth-child(2) > section {
      width:100%;
      transition: 1s;
    }
  

    .text > div:nth-child(1) > p {
      font-size: 11px;
      letter-spacing: 3px;
      padding-bottom: 10px;
    }
  
    .text > div:nth-child(2) > p {
      font-size: 10px;
      letter-spacing: 2.4px;
    }

    .picture_text > div:nth-child(1) {
      width:140px;
      height:140px;
      transition: 1s;
  
    }

    .skill_info {
      width:100%;
      height: auto;
      justify-content: space-between;
      flex-direction: column;
    }

    .skill.skill_1 {
      width:95%;
    }
    
    .info.info_1 {
      width:95%;
    }

    


  
  
  
    }
  

