#workplace {
  width:100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;

}

.swiper {
  width:95%;
  height: 90%;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.swiper-wrapper {
  height:100%;
  /* border: 1px solid blue; */
  overflow: visible;
  

}

.swiper-slide {
  /* background: linear-gradient(70deg, rgb(43, 42, 42), #0e1825); */
  display: flex;
  align-items: center;
  justify-content: center;

}


.swiper .swiper-pagination-bullet {
  background-color: rgb(255, 255, 255);
  width:8px;
  height:15px;
  border-radius: 4px;
  box-shadow: 2px 2px 3px rgba(0, 197, 154, 0.678);
  transform: rotate(40deg);
}

.swiper-button-next {
  background-size:110%;
  background-position: center;
  /* border: 1px solid white; */
  background-image: url(../asset/next_btn.png);
  background-repeat: no-repeat;
}

.swiper-button-prev {
  background-size:110%;
  background-position: center;
  /* border: 1px solid white; */
  background-image: url(../asset/next_btn.png);
  background-repeat: no-repeat;
  transform: rotate(-180deg);

}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.work_image_mb {
  width:170px;
  height: 340px;
  /* background-color: pink; */
  position: relative;
  right: 120px;
  top: 100px;
  min-width:100px;
  background-image: url(../asset/mockup02.png);
  background-position:center;
  background-repeat: no-repeat;
  background-size: 170px;
  margin-right: 10px;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.work_image_mb > div {
  width:90%;
  height:95%;
  border-radius:20px;
  position: absolute;
  overflow: hidden;
  /* background-color: red; */
}

.work_image_mb > div > img {
  width:100%;
  overflow: hidden;
  border-radius: 20px;
  /* position: absolute; */
}

.work_image_mb_01 > div > img:hover {
  transform: translateY(-69%);
  top: 100%;
  transition: 5s ease-out;
  cursor: pointer;
}

.work_image_mb_02 > div > img:hover {
  transform: translateY(-88.5%);
  top: 100%;
  transition: 5s ease-out;
  cursor: pointer;
}

.work_image_mb_03 > div > img:hover {
  transform: translateY(-74%);
  top: 100%;
  transition: 5s ease-out;
  cursor: pointer;
}

.work_image_mb_04 > div > img:hover {
  transform: translateY(-76%);
  top: 100%;
  transition: 5s ease-out;
  cursor: pointer;
}



.work_image_pc {
  width:750px;
  height: 650px;
  /* background-color: rgb(207, 11, 44); */
  position: relative;
  right: 90px;
  background-image: url(../asset/mockup01.png);
  /* background-image: url(../asset/mockup01_1.png); */
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  /* border: 1px solid white; */
  transition: 1s;
}

.work_image_pc > div {
  width:100%;
  height: 77%;
  margin-top: 10px;
  position: absolute;
  cursor: pointer;
  overflow-y: hidden;
}

.work_image_pc > div > img {
  width:100%;

}

.work_image_pc > .siteBox {
  width:70px;
  height:40px;
  background-color: #c5c5c52a;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right:100px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: bold;
  backdrop-filter: blur(5px);
  color: white;
  font-style: italic;

}

.work_image_pc > .siteBox > a {
  text-decoration: none;
  color: inherit;

}

.work_image_pc_01 > div >img:hover {
  transform: translateY(-75%);
  top: 100%;
  transition: 8s ease-out;
}

.work_image_pc_02 > div >img:hover {
  transform: translateY(-85.5%);
  top: 100%;
  transition: 8s ease-out;
}

.work_image_pc_03 > div >img:hover {
  transform: translateY(-85%);
  top: 100%;
  transition: 8s ease-out;
}

.work_image_pc_04 > div >img:hover {
  transform: translateY(-85%);
  top: 100%;
  transition: 8s ease-out;
}

.work_detail {
  width:300px;
  height: 100%;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  border-radius: 20px;
  background-color: transparent;
  /* border: 1px solid white; */
}

.work_detail > div  {
  width:100%;
  /* border: 1px solid black; */
  margin: 7px;
  text-align: center;
  overflow-y: hidden;
  font-size: 14px;
  font-weight: bold;
  color: white;
  backdrop-filter: blur(3px);
  padding: 10px 0px 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 7px rgba(255, 255, 255, 0.63);
  line-height: 21px;
}

.work_detail > div > h3 {
  text-shadow: 0px 0px 5px cyan;
  padding:5px;
}

.work_detail > div > .color_box {
  width:100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.work_detail > div > .color_box > div {
  width:20px;
  height:20px;
  margin: 10px;
  border-radius: 100%;
  /* border: 1px solid white; */
}

@media screen and (max-width:1300px) {
  .work_image_pc {
    width:600px;
    height: 460px;

  }
  
}

@media screen and (max-width:1180px) {
  .work_image_pc {
    width:650px;
    height: 460px;
    transition: 1s;
  }

  .work_image_mb {
    display: none;
  }
  
  
}

@media screen and (max-width:880px) {
  
  .work_image_pc {
    width:370px;
    height: 360px;

  }

  .work_image_pc > .siteBox {
    margin-right:15px;
  
  }

 
}

@media screen and (max-width:768px) {
  #workplace {
    height: auto;
  }
  
  
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:auto;
    padding:1px;
  }

  .work_image_pc {
    position: relative;
    right:unset;
    height: 320px;
    margin-bottom: 5px;
  }

  .work_detail {
    display: flex;
    position: static;
    width:100%;
    
  }
  
  .work_detail > div  {
    width:90%;
    margin: 7px;
    font-size: 11px;
    padding: 2px 0px 2px;
    border-radius: 10px;
    line-height: 14px;
  }

  .swiper-pagination {
    margin-bottom: 80px;
  }

  .work_image_pc > .siteBox {
    width:65px;
    height:22px;
    font-size: 12px;
  
  }
  
  }

  


